:root {
  --prim-color: rgb(0, 0, 0);
  --sec-color: rgb(54, 54, 54);
  --prim-text-color: rgb(255, 153, 0);
  --sec-text-color: rgb(255, 255, 255);
  --tertiary-text-color: rgb(201, 201, 201);
}

html,
body {
  background-color: #fff;
  color: var(--sec-text-color);
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a :hover {
  color: inherit;
  text-decoration: none;
}
